.acceuil{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #222;
    height: 100%;
    padding-top: 20px;
    color: white;
}

.faty{
    display: flex;
    width: 60%;
    height: 30%;
    border-radius: 50%;
    padding: 10px;
 }

.imgfaty{
   width: 100%;
   margin: auto;
}
.btntravail{
  display: flex;
    justify-content: center;
    align-items: center;
}
.btncours{
    background: none;
    border-radius: 1px solid #3f3e3e;
    width: 120px;
    height: 45px;
    color: gray;
    margin: 10px;

}